@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7fafc;
}

textarea::-webkit-resizer {
  background-color: rgba(0, 0, 0, 0);
}

.textarea-dragger {
  position: relative;
}

.textarea-dragger::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  right: 0.375rem;
  bottom: calc(6px + 0.375rem);
  border-radius: 50%;
  background-color: #1a202c;
  pointer-events: none;
}

.game-of-life-custom-inner-shadow {
  pointer-events: none;
  box-shadow: inset 0px 0px 35px 75px rgb(247, 250, 252);
}

.stop-drag {
  user-select: none;
}
